.geocoder-control-input {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	background-repeat: no-repeat;
	background-image: url(#{resource[ 'images:search.png' ]});
	background-size: 26px;
	border: none;
	padding: 0;
	text-indent: 6px;
	font-size: 13px;
	line-height: normal;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-position: right center;
	cursor: pointer;
	box-sizing: border-box
}

.geocoder-control-input-disabled {
	background-color: #f4f4f4;
	background-image: url(#{resource[ 'images:search-disabled.png' ]})
}

.geocoder-control {
	width: 26px;
	height: 26px;
	-webkit-transition: width .175s ease-in;
	-moz-transition: width .175s ease-in;
	-ms-transition: width .175s ease-in;
	-o-transition: width .175s ease-in;
	transition: width .175s ease-in
}

.geocoder-control-expanded,
.leaflet-touch .geocoder-control-expanded {
	width: 275px
}

.geocoder-control-input.geocoder-control-loading {
	background-image: url(#{resource[ 'images:loading.gif' ]});
	background-size: 26px
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.geocoder-control-input {
		background-image: url(#{resource[ 'images:search@2x.png' ]})
	}
	.geocoder-control-input-disabled {
		background-image: url(#{resource[ 'images:search@2x-disabled.png' ]}) 
	}
	.geocoder-control-input.geocoder-control-loading {
		background-image: url(#{resource[ 'images:loading@2x.gif' ]})
	}
}

.geocoder-control-input:focus {
	outline: none;
	cursor: text
}

.geocoder-control-input::-ms-clear {
	display: none
}

.geocoder-control-suggestions {
	width: 100%;
	position: absolute;
	top: 26px;
	left: 0;
	margin-top: 10px;
	overflow: auto;
	display: none
}

.geocoder-control-list+.geocoder-control-header {
	border-top: 1px solid #d5d5d5
}

.geocoder-control-header {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #444;
	background: #F2F2F2;
	border-bottom: 1px solid #d5d5d5;
	display: block;
	padding: .5em
}

.geocoder-control-list {
	list-style: none;
	margin: 0;
	padding: 0
}

.geocoder-control-suggestions .geocoder-control-suggestion {
	font-size: 13px;
	padding: 7px;
	background: white;
	border-top: 1px solid #f1f1f1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer
}

.geocoder-control-suggestions .geocoder-control-suggestion:first-child {
	border: none
}

.geocoder-control-suggestions .geocoder-control-suggestion.geocoder-control-selected,
.geocoder-control-suggestions .geocoder-control-suggestion:hover {
	background: #7FDFFF;
	border-color: #7FDFFF
}

.leaflet-right .geocoder-control-suggestions {
	left: auto;
	right: 0
}

.leaflet-right .geocoder-control-input {
	left: auto;
	right: 0
}

.leaflet-touch .geocoder-control {
	width: 34px
}

.leaflet-touch .geocoder-control.geocoder-control-expanded {
	width: 275px
}

.leaflet-touch .geocoder-control-input {
	height: 34px;
	line-height: 30px;
	background-size: 30px
}

.leaflet-touch .geocoder-control-suggestions {
	top: 30px;
	width: 271px
}

.leaflet-oldie .geocoder-control-input {
	width: 28px;
	height: 28px
}

.leaflet-oldie .geocoder-control-expanded .geocoder-control-input {
	width: auto
}

.leaflet-oldie .geocoder-control-input,
.leaflet-oldie .geocoder-control-suggestions {
	border: 1px solid #999
}