.sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}

.sidebar-form, .sidebar-menu>li.header {
	overflow: hidden;
	text-overflow: clip;
}

#userImage {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
}

ul.dropdown-menu>li.user-header {
	height: auto !important;
}

a.dropdown-toggle {
	background-color: #3c8dbc !important;
}

a#logout {
	color: #3c8dbc !important;
	background: transparent;
}

@media ( max-width : 768px) {
	body .control-sidebar {
		padding-top: 100px;
	}
}

.required .control-label:after {
	content: "*";
	color: red;
}

tr {
	background-color: #0191C8;
}

tr.ui-widget-content {
	text-align: center;
}

span.ui-column-title {
	color: white;
}

div.ui-messages-info {
	border-color: #21af6ed4;
    background-color: #23da86d4;
}
}