<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

     <ul class="nav navbar-nav">
     	<ui:fragment rendered="#{logonMB.loggedIn}">
	        <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estacionamento<span
	                    class="caret"></span>
	                <i class="fa fa-car"></i>
	            </a>
	
	            <ul class="dropdown-menu" role="menu">
	                <li>
	                    <p:link outcome="/admin/estacionamento/index">
	                        <span>Listagem</span>
	                        <i class="fa fa-th-list"></i>
	                    </p:link>
	                </li>
	            </ul>
	
	        </li>
	        
	        <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DashBoard<span
	                    class="caret"></span>
	                <i class="fa fa-dashboard"></i>
	            </a>
	
	            <ul class="dropdown-menu" role="menu">
	                <li>
	                    <p:link outcome="/admin/dashboard/sintetico">
	                        <span>Sintético</span>
	                        <i class="fa fa-bar-chart-o"></i>
	                    </p:link>
	                </li>
	                 <li>
	                    <p:link outcome="/admin/dashboard/analitico">
	                        <span>Analítico</span>
	                        <i class="fa fa-line-chart"></i>
	                    </p:link>
	                </li>
	            </ul>
	
	        </li>
        </ui:fragment>
        
    </ul>

</ui:composition>