<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <style type="text/css">
        #layout-menu_menu {
            z-index: 9997!important;
        }
        #layout-menu_menu span.ui-menuitem-text {
            margin-left: 2px;
        }

    </style>
    <ul class="nav navbar-nav">
    	<ui:fragment rendered="#{logonMB.loggedIn}">
	        <li class="dropdown user user-menu">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                <i class="fa fa-fw fa-users"/>
	                <span class="hidden-xs">#{logonMB.user.pessoa.nome}</span>
	            </a>
	            <ul class="dropdown-menu">
	                <li class="user-header">
	                    <p>
	                       #{logonMB.user.pessoa.nome}
	                    </p>
	                </li>
	                <li class="user-footer">
	                    <h:form prependId="false">
	                        <div class="pull-right">
	                            <p:commandLink id="logout" action="#{logonMB.doLogout()}" title="Logoff">
	                                <i class="fa fa-sign-out fa-2x"></i>
	                            </p:commandLink>
	                        </div>
	                    </h:form>
	                </li>
	            </ul>
	        </li>
		</ui:fragment>
		<ui:fragment rendered="#{!logonMB.loggedIn}">
			<li>
				<p:commandLink value="Login no Sistema" action="/public/login.jsf?faces-redirect=true"/>
			</li>
		</ui:fragment>
	</ul>

</ui:composition>