<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">
	
	<ui:define name="head-end">
		<ui:param name="renderBreadCrumb" value="false" />
	</ui:define>
	
	<ui:define name="title">
		Cadastro
	</ui:define>
	
	<ui:define name="description">
		- cadastro de estacionamento
	</ui:define>
	
	<ui:define name="body">
		<adm:breadcrumb title="Estacionamentos" />
		<div class="box box-solid box-primary">
			<h:form id="estacionamento-cadastro">
				<div class="box-body">
						<p:messages id="msgs" showDetail="false" closable="true" />
				
						<h:inputHidden id="lat"	value="#{estacionamentoBean.estacionamento.latitude}" />
						<h:inputHidden id="lng"	value="#{estacionamentoBean.estacionamento.longitude}" />
						
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div id="mapid" class="form-group"></div>
						</div>
						<div class="form-group required ui-g-12 ui-md-6 ui-lg-6">
							<label class="control-label">Instituição</label>
							<p:selectOneMenu id="instituicao" style="width:100%;"
								value="#{estacionamentoBean.estacionamento.instituicao}"
								required="true"
								requiredMessage="Instituição: Campo obrigatório"
								converter="entityConverter">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItems itemLabel="#{instituicao.nome}"
									itemValue="#{instituicao}" var="instituicao"
									value="#{instituicaoBean.combo}" />
							</p:selectOneMenu>
						</div>
						
						<div class="form-group required ui-g-12 ui-md-6 ui-lg-6">
							<label class="control-label">Nome do Estacionamento</label>
							<p:inputText id="nome"
								value="#{estacionamentoBean.estacionamento.nome}" required="true"
								requiredMessage="Nome: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Cidade</label>
							<p:inputText id="cidade"
								value="#{estacionamentoBean.endereco.cidade}"  required="true"
								requiredMessage="Cidade: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Estado</label>
							<p:inputText id="estadoExtenso"
								value="#{estacionamentoBean.endereco.estadoExtenso}" required="true"
								requiredMessage="Estado: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Sigla</label>
							<p:inputText id="estadoSigla"
								value="#{estacionamentoBean.endereco.estadoSigla}" required="true"
								requiredMessage="Sigla: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Logradouro</label>
							<p:inputText id="logradouro"
								value="#{estacionamentoBean.endereco.logradouro}" required="true"
								requiredMessage="Logradouro: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Complemento</label>
							<p:inputText id="complemento"
								value="#{estacionamentoBean.endereco.complemento}" required="true"
								requiredMessage="Complemento: Campo obrigatório"
								styleClass="form-control" />
						</div>
						
						<div class="form-group required ui-g-12 ui-md-4 ui-lg-4">
							<label class="control-label">Número</label>
							<p:inputText id="numero"
								value="#{estacionamentoBean.endereco.numero}" required="true"
								requiredMessage="Número Campo obrigatório"
								styleClass="form-control" />
						</div>
				</div>
				
				<div class="box-footer">
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<p:commandButton value="Cadastrar"
							actionListener="#{estacionamentoBean.cadastrar()}"
							update="msgs nome instituicao"
							styleClass="btn btn-primary btn-block" />
					</div>
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<p:commandButton value="Cancelar" immediate="true" action="/admin/estacionamento/index.jsf?faces-redirect=true"
							styleClass="btn btn-secondary btn-block" />
					</div>
				</div>
			</h:form>
		</div>
		<style type="text/css">
			tr {
				background-color: #0191C8;
			}
	
			tr.ui-widget-content{
				text-align: center;
			}
			
			span.ui-column-title {
				color: white;
			}
			#mapid { 
				height: 250px; 
			}
		</style>
		
		<script>
			let zoom = 15;
			let zoomPlus = 20;
			let lat = 0;
			let lng = 0;
			let endereco = {
				logradouro : null,
				complemento : null,
				numero : null,
				cidade : null,
				estadoExtenso : null,
				estadoSigla : null
			}
			
			let map    = L.map('mapid',{ zoomControl:false}).setView([-5.8324629,-35.2037356], zoom);
			let marker = L.marker(map.getCenter()).addTo(map);
			let geocodeService = L.esri.Geocoding.geocodeService();
			let searchControl = L.esri.Geocoding.geosearch().addTo(map);
	        let results = L.layerGroup().addTo(map);
	        
            marker.bindTooltip("Esse é seu Estacionamento?").openTooltip();
			
    	  	mapLink = '<a href="http://www.esri.com/">Esri</a>';
    	    wholink = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';

     	    L.tileLayer(
    	    	'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    	        attribution: '&#9400; '+mapLink+', '+wholink,
    	    	maxZoom: 18}).addTo(map);
     	   
   	        map.on('dblclick', function(ev) {
   	        	marker.setLatLng(ev.latlng);
   	            map.setView(marker.getLatLng(), zoomPlus);
   	            lat = ev.latlng.lat;
   	            lng = ev.latlng.lng;
   	         	geocodeService.reverse().latlng(ev.latlng).run(function(error, result) {
	   	         	endereco.cidade = result.address.City;
	            	endereco.complemento = result.address.LongLabel;
	            	endereco.estadoExtenso = result.address.Region;
	            	endereco.estadoSigla = 'N/A';
	            	endereco.logradouro = result.address.Address;
	   	        	endereco.numero = result.address.AddNum;
	   	        });
   	         	parseData();
   	        });

   	     	marker.on('click', function(ev) {
	             map.setView(ev.latlng, zoomPlus); 
	        });

	        if (navigator.geolocation) {
	        	navigator.geolocation.getCurrentPosition(function(position) {
		        	lat = position.coords.latitude;
		        	lng = position.coords.longitude;
		        	
	            	var newLatLng = new L.LatLng(position.coords.latitude, position.coords.longitude);
	                marker.setLatLng(newLatLng);
	   	            map.setView(marker.getLatLng(), zoom); 

		   	      /*   geocodeService.reverse().latlng(newLatLng).run(function(error, result) {
		   	        	endereco.cidade = result.address.City;
		            	endereco.complemento = result.address.LongLabel;
		            	endereco.estadoExtenso = result.address.Region;
		            	endereco.estadoSigla = 'N/A';
		            	endereco.logradouro = result.address.Address;
		   	        	endereco.numero = result.address.AddNum;
			   	    }); */
	            });
	        } 
	        

	        searchControl.on("results", function(data) {
	            results.clearLayers();
	            for (var i = data.results.length - 1; i >= 0; i--) {
	                marker.setLatLng(data.latlng);
	   	            map.setView(marker.getLatLng(), zoom); 

	   	            lat = data.latlng.lat;
	   	            lng = data.latlng.lng;
	            	endereco.cidade = data.results[0].properties.City;
	            	endereco.complemento = data.text;
	            	endereco.estadoExtenso = data.results[0].properties.Region;
	            	endereco.estadoSigla = data.results[0].properties.RegionAbbr;
	            	endereco.logradouro = data.results[0].properties.StAddr;

	            	geocodeService.reverse().latlng(data.latlng).run(function(error, result) {
		   	        	endereco.numero = result.address.AddNum;
		   	        });
	            }
	            parseData();
	        });

	        function parseData(){
	        	document.getElementById('estacionamento-cadastro:lat').value = lat;
   	     		document.getElementById('estacionamento-cadastro:lng').value = lng;
   	     		document.getElementById('estacionamento-cadastro:cidade').value = endereco.cidade;
   	     		document.getElementById('estacionamento-cadastro:complemento').value = endereco.complemento;
	     		document.getElementById('estacionamento-cadastro:estadoExtenso').value = endereco.estadoExtenso;
	     		document.getElementById('estacionamento-cadastro:estadoSigla').value = endereco.estadoSigla;
	     		document.getElementById('estacionamento-cadastro:logradouro').value = endereco.logradouro;
   	     		document.getElementById('estacionamento-cadastro:numero').value = endereco.numero;
			}
		</script>
	</ui:define>
</ui:composition>