<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <ui:param name="renderBreadCrumb" value="false"/>
    </ui:define>
	<ui:define name="title">
		Estacionamentos
	</ui:define>
	<ui:define name="description">
		- gerencie seus estacionamentos
	</ui:define>
    <ui:define name="body">
   		<adm:breadcrumb title="Estacionamentos" />
   		<div class="form-group" >
   			<div class="form-group">
   				<p:commandButton value="Novo" icon="fa fa-plus" action="/admin/estacionamento/cadastro.jsf?faces-redirect=true"
   				styleClass="btn btn-primary" actionListener="#{estacionamentoBean.reset()}"/>
   			</div>
			<h:form id="estacionamento-listagem"> 
				<p:dataTable reflow="true" 
					value="#{estacionamentoBean.listEstacionamentos}" var="estacionamento"
					paginator="true" paginatorPosition="bottom" rows="5" 
					emptyMessage="Você não possui nenhum estacionamento">
					<p:columnGroup type="header">
						<p:column headerText="Nome" colspan="2"/>
						<p:column headerText="Endereço" colspan="3"/>
						<p:column headerText="Instituição" colspan="3"/>
						<p:column headerText="Vagas" colspan="2"/>
						<p:column headerText="Ação" colspan="2"/>
					</p:columnGroup>
					
					<p:column colspan="2">
				    	<h:outputText value="#{estacionamento.nome}"/>
				    </p:column>
				 			 
				    <p:column colspan="3">
				    	<h:outputText value="#{estacionamento.endereco.enderecoExtenso}"/>
				    </p:column>
				    
				    <p:column colspan="3">
				    	<h:outputText value="#{estacionamento.instituicao.nome}"/>
				    </p:column>
				    
				    <p:column colspan="2">
				       	<h:outputText value="xxxx"/>
				    </p:column>
				 
				    <p:column colspan="2">
				    	<p:commandButton icon="fa fa-edit" action="#{estacionamentoBean.editar(estacionamento)}" 
				    		title="Editar Estacionamento" styleClass="btn btn-primary" />
			    		<p:commandButton icon="fa fa-remove" actionListener="#{estacionamentoBean.remover(estacionamento)}" 
				    	 	title="Remover Estacionamento" styleClass="btn btn-primary" update="@form"/>
				    	<p:commandButton icon="fa fa-arrow-right" action="#{estacionamentoBean.adicionarVaga(estacionamento)}"
				    	 	title="Adicionar Estacionamento" styleClass="btn btn-primary" />
				    </p:column>			
				</p:dataTable>
			</h:form>
		</div>
		
		<style type="text/css">
			tr {
				background-color: #0191C8;
			}
	
			tr.ui-widget-content{
				text-align: center;
			}
			
			span.ui-column-title {
				color: white;
			}
		</style>
		
    </ui:define>
</ui:composition>