<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <ui:param name="renderBreadCrumb" value="false"/>
    </ui:define>
	<ui:define name="title">
		Dashboard
	</ui:define>
	<ui:define name="description">
		- Informações dos Estacionamento
	</ui:define>
	<ui:define name="body">
		
		<ui:include src="/admin/dashboard/indicadoresAnalitico.xhtml" />
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<p:panel widgetVar="mediaOcupacaoSemana" header="Tempo Médio de Ocupação - Semana" toggleable="true"  toggleSpeed="500" closeSpeed="500"  style="margin-bottom:20px">
					<p:lineChart model="#{analiticoBean.lineTempoMedioSemana}" style="width: 100%;"/>
		    	</p:panel>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<p:panel widgetVar="mediaEstacionamentoSemana" header="Média de Estacionamento - Semana" toggleable="true"  toggleSpeed="500" closeSpeed="500"  style="margin-bottom:20px">
					<p:lineChart model="#{analiticoBean.lineEstacionamentoMedioSemana}" style="width: 100%;"/>
		    	</p:panel>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<p:panel widgetVar="totalEstacionamentoSemana" header="Total de Estacionamento - Semana" toggleable="true"  toggleSpeed="500" closeSpeed="500"  style="margin-bottom:20px">
					<p:barChart model="#{analiticoBean.barEstacionamentoTotalSemana}" style="width: 100%;"/>
		    	</p:panel>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<p:panel widgetVar="mediaOcupacaoMes" header="Tempo Médio de Ocupação - Mês" toggleable="true"  toggleSpeed="500" closeSpeed="500"  style="margin-bottom:20px">
					<p:lineChart model="#{analiticoBean.lineTempoMedioMes}" style="width: 100%;"/>
		    	</p:panel>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<p:panel widgetVar="totalEstacionamentoMes" header="Total de Estacionamento - Mês" toggleable="true"  toggleSpeed="500" closeSpeed="500" style="margin-bottom:20px">
					<p:barChart model="#{analiticoBean.barEstacionamentoTotalMes}" style="width: 100%;"/>
		    	</p:panel>
			</div>
		</div>
		
		<script type="text/javascript">    
			PrimeFaces.locales['pt'] = {
                closeText: 'Fechar',
                prevText: 'Anterior',
                nextText: 'Próximo',
                currentText: 'Começo',
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],
                dayNamesMin: ['D','S','T','Q','Q','S','S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Só Horas',
                timeText: 'Tempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Data Atual',
                ampm: false,
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText : 'Todo Dia'
            };
		</script>
		<style type="text/css">
			
			.driverLicExpCal {
			   width: 100%;
			}
		</style>
    </ui:define>


</ui:composition>