<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">LI</span>

				<div class="info-box-content">
					<span class="info-box-text">Livres</span> 
					<span class="info-box-number">
						<h:outputText value="10">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red">OC</span>

				<div class="info-box-content">
					<span class="info-box-text">Ocupados</span> 
					<span class="info-box-number">
						<h:outputText value="4">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-teal">AU</span>

				<div class="info-box-content">
					<span class="info-box-text">Autenticados</span> 
					<span class="info-box-number">
						<h:outputText value="23"/>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-purple">LO</span>

				<div class="info-box-content">
					<span class="info-box-text">Lotação</span>
					<span class="info-box-number">
						<h:outputText value="95%"/>
					</span>
				</div>
			</div>
		</div>
	</div>
</ui:composition>