<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-blue">ID</span>

				<div class="info-box-content">
					<span class="info-box-text">Idoso</span> 
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.numeroVagas('IDOSO')}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-blue" style="width: #{analiticoBean.porcentagemOcupacao('IDOSO')}%"/>
					</div>
					<span class="progress-description"> 
						<h:outputText value="#{analiticoBean.porcentagemOcupacao('IDOSO')}% das vagas ocupadas"/>
					</span>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-teal">DE</span>

				<div class="info-box-content">
					<span class="info-box-text">Deficiente</span> 
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.numeroVagas('DEFICIENTE')}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-teal" style="width: #{analiticoBean.porcentagemOcupacao('DEFICIENTE')}%"></div>
					</div>
					<span class="progress-description"> 
						<h:outputText value="#{analiticoBean.porcentagemOcupacao('DEFICIENTE')}% das vagas ocupadas"/>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">PU</span>

				<div class="info-box-content">
					<span class="info-box-text">Público</span> 
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.numeroVagas('PUBLICO')}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-green" style="width:#{analiticoBean.porcentagemOcupacao('PUBLICO')}%"></div>
					</div>
					<span class="progress-description"> 
						<h:outputText value="#{analiticoBean.porcentagemOcupacao('PUBLICO')}% das vagas ocupadas"/>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-purple">PR</span>

				<div class="info-box-content">
					<span class="info-box-text">Privado</span>
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.numeroVagas('PRIVADO')}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-purple" style="width: #{analiticoBean.porcentagemOcupacao('PRIVADO')}%"></div>
					</div>
					<span class="progress-description"> 
						<h:outputText value="#{analiticoBean.porcentagemOcupacao('PRIVADO')}% das vagas ocupadas"/>
					</span>
				</div>
			</div>
		</div>
	</div>
</ui:composition>