<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-blue"><i class="fas fa-plus"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Total</span> 
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.totalEstacionamento}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-blue" style="width:100%"/>
					</div>
					<span class="progress-description"> 
						<h:outputText value="Estacionamentos Realizados"/>
					</span>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-teal"><i class="far fa-hourglass"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">Tempo</span> 
					<span class="info-box-number">
						<h:outputText value="#{analiticoBean.totalTempo}">
							<f:convertNumber locale="pt_BR"/>
						</h:outputText>
					</span>
					<div class="progress">
						<div class="progress-bar bg-teal" style="width: 100%"></div>
					</div>
					<span class="progress-description"> 
						<h:outputText value="Horas Estacionadas"/>
					</span>
				</div>
			</div>
		</div>
	</div>
</ui:composition>