<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <ui:param name="renderBreadCrumb" value="false"/>
    </ui:define>
	<ui:define name="title">
		Dashboard
	</ui:define>
	<ui:define name="description">
		- Informações dos Estacionamento
	</ui:define>
	<ui:define name="body">
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
   		<div class="row">
			<div class="ui-g-12 ui-md-12 ui-lg-12" style="float: right;">
				<ui:include src="/admin/dashboard/cardLotacao.xhtml" />
			</div>
			<div class="ui-g-12 ui-md-12 ui-lg-12" style="float: right;">
				<p:gmap id="gmap" center="#{indexEstacionamentoBean.estacionamento.latitude},#{indexEstacionamentoBean.estacionamento.longitude}" 
					zoom="20" type="SATELLITE" style="width:100%;height:400px" disableDefaultUI="false" model="#{indexEstacionamentoBean.simpleModel}">
 
    			</p:gmap>
			</div>
			
		</div>	
    </ui:define>


</ui:composition>