<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">
	
	<ui:define name="head-end">
		<ui:param name="renderBreadCrumb" value="false" />
	</ui:define>
	
	<ui:define name="title">
		Cadastro
	</ui:define>
	
	<ui:define name="description">
		- cadastro de vagas
	</ui:define>
	
	<ui:define name="body">
		<adm:breadcrumb title="Vagas" />
		<h:form id="vaga-listagem">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title">#{vagaBean.estacionamento.nome}</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
		   				<p:commandButton value="Novo" icon="fa fa-plus" oncomplete="PF('modal-cadastro').show();"
		   				update="modal-vaga" styleClass="btn btn-primary" actionListener="#{vagaBean.reset()}"/>
		   			</div>
					<p:dataTable reflow="true" 
						value="#{vagaBean.listVagas}" var="vaga"
						paginator="true" paginatorPosition="bottom" rows="5" 
						emptyMessage="Este estacionamento não possui vagas">
						<p:columnGroup type="header">
							<p:column headerText="Nome" colspan="2"/>
							<p:column headerText="Latitude" colspan="2"/>
							<p:column headerText="Longitude" colspan="2"/>
							<p:column headerText="Tipo" colspan="2"/>
							<p:column headerText="Monitoramento" colspan="2"/>
							<p:column headerText="Ação" colspan="2"/>
						</p:columnGroup>
						
						<p:column colspan="2">
					    	<h:outputText value="#{vaga.apelido}"/>
					    </p:column>
					 			 
					    <p:column colspan="2">
					    	<h:outputText value="#{vaga.latitude}"/>
					    </p:column>
					    
					    <p:column colspan="2">
					    	<h:outputText value="#{vaga.longitude}"/>
					    </p:column>
					    
					    <p:column colspan="2">
					       	<h:outputText value="#{vaga.tipo.valor}"/>
					    </p:column>
					 
					  	<p:column colspan="2">
					       	<h:outputText value="#{vaga.monitoramentoTipo.valor}"/>
					    </p:column>
					 
					    <p:column colspan="2">
				    	 	 <p:commandButton icon="fa fa-edit" actionListener="#{vagaBean.editar(vaga)}" update="modal-vaga"
				    	 		title="Editar Vaga" styleClass="btn btn-primary" oncomplete="PF('modal-cadastro').show();"/>
				    	 	 <p:commandButton icon="fa fa-remove" actionListener="#{vagaBean.remover(vaga)}" update="@form"
				    	 		title="Remover Vaga" styleClass="btn btn-primary"/>
					    </p:column>			
					</p:dataTable>
				</div>
				
				<div class="box-footer">
					
				</div>
			</div>
		</h:form>	
		<p:dialog header="Cadastrar Vaga" widgetVar="modal-cadastro" styleClass="box-solid box-primary" width="33%"
			closable="false" modal="true" resizable="false">
			<h:form id="modal-vaga">
				<div class="required ui-g-12 ui-md-12 ui-lg-12">
					<label class="control-label">Identificador</label>
					<p:inputText id="identificador" value="#{vagaBean.vagaCadastro.apelido}" required="true"
						requiredMessage="Campo obrigatório" styleClass="form-control" />
					<p:message for="identificador">
						<p:autoUpdate/>
					</p:message>
				</div>
				
				<div class="required ui-g-12 ui-md-6 ui-lg-6">
					<label class="control-label">Latitude</label>
					<p:inputNumber id="latitude" value="#{vagaBean.vagaCadastro.latitude}" required="true" 
					decimalPlaces="10" decimalSeparator="." thousandSeparator="" 
						requiredMessage="Campo obrigatório" />
					<p:message for="latitude">
						<p:autoUpdate/>
					</p:message>
				</div>
				
				<div class="required ui-g-12 ui-md-6 ui-lg-6">
					<label class="control-label">Longitude</label>
					<p:inputNumber id="longitude" value="#{vagaBean.vagaCadastro.longitude}" required="true" 
					decimalPlaces="10" decimalSeparator="." thousandSeparator=""
						requiredMessage="Campo obrigatório"/>
					<p:message for="longitude">
						<p:autoUpdate/>
					</p:message>
				</div>
				
				<div class="required ui-g-12 ui-md-12 ui-lg-12">
					<label class="control-label">Tipo da Vaga</label>
					<p:selectOneMenu id="vaga-tipo" value="#{vagaBean.vagaCadastro.tipo}"
						style="width:100%;" required="true" requiredMessage="Campo obrigatório"
						converter="entityConverter">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItems itemLabel="#{tipo.valor}"
							itemValue="#{tipo}" var="tipo"
							value="#{vagaTipoBean.combo}" />
					</p:selectOneMenu>
					<p:message for="vaga-tipo">
						<p:autoUpdate/>
					</p:message>
				</div>
				
				<div class="required ui-g-12 ui-md-12 ui-lg-12">
					<label class="control-label">Tipo do Monitoramento</label>
					<p:selectOneMenu id="monitoramento-tipo" value="#{vagaBean.vagaCadastro.monitoramentoTipo}" 
						style="width:100%;" required="true" requiredMessage="Campo obrigatório"
						converter="entityConverter">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItems itemLabel="#{tipo.valor}"
							itemValue="#{tipo}" var="tipo"
							value="#{monitoramentoTipoBean.combo}" />
					</p:selectOneMenu>
					<p:message for="monitoramento-tipo">
						<p:autoUpdate/>
					</p:message>
				</div>
				
				<div class="required ui-g-12 ui-md-6 ui-lg-6">
					<p:commandButton value="Cadastrar" update="modal-vaga vaga-listagem"
						actionListener="#{vagaBean.cadastrar()}" styleClass="btn btn-primary form-control"/>
				</div>
				
				<div class="required ui-g-12 ui-md-6 ui-lg-6">
					<p:commandButton value="Cancelar" immediate="true" onclick="PF('modal-cadastro').hide();" styleClass="btn btn-secondary form-control"/>
				</div>
				
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>