<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:adm="http://github.com/adminfaces"
	template="#{layoutMB.template}">

	<ui:define name="title">
		Estacionamentos
	</ui:define>
	
	<ui:define name="body">
		<style>
			#mapid {
				height: 100vh;
			}
		</style>
		
		<h:inputHidden id="estacionamentos" value="#{indexBean.estacionamentos}" />
		<div id="mapid">
		</div>
		
		<h:form id="index">
			<h:inputHidden id="vagas" value="#{indexBean.vagas}" />
			<h:inputHidden id="estacionamento_select" value="#{indexBean.estacionamentoSelecionado}" />
		</h:form>
		<script>
		//<![CDATA[
			
			let zoom = 15;
			let zoomPlus = 20;
	   	  	let map = L.map('mapid',{ zoomControl:false}).setView([-5.8324629,-35.2037356], zoom);
 	  		mapLink = '<a href="http://www.esri.com/">Esri</a>';
 	    	wholink = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';

  	    	L.tileLayer(
 	    		'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', 
 	    		{
 	        		attribution: '&#9400; '+mapLink+', '+wholink,
 	    			maxZoom: 18
 	    		}).addTo(map);
	  	   
  	    	if (navigator.geolocation) {
	        	navigator.geolocation.getCurrentPosition(function(position) {
	            	var newLatLng = new L.LatLng(position.coords.latitude, position.coords.longitude);
	            	let marker = L.marker(newLatLng).addTo(map);
	                marker.setLatLng(newLatLng);
	   	            map.setView(marker.getLatLng(), zoom); 
	   	         	marker.bindTooltip('Você').openTooltip();

	            });
	        }
	        
	        function loadEstacionamento(){
		        let json = document.getElementById("estacionamentos").value; 
		        let listEstacionamento = JSON.parse(json);
		        for(i = 0; i < listEstacionamento.length; i++){
			    	let estacionamento = listEstacionamento[i];
		        	var newLatLng = new L.LatLng(estacionamento.latitude, estacionamento.longitude);
		        	let marker = L.marker(newLatLng).addTo(map);
		        	marker.estacionamento = estacionamento; 
		        	marker.bindTooltip(estacionamento.nome).openTooltip();
		        	marker.on('click', function(ev) {
		        		map.setView(ev.latlng, zoomPlus); 
		        		document.getElementById("index:estacionamento_select").value = JSON.stringify(marker.estacionamento);
		        		document.getElementById("index").submit();
			        });
				}
		  
			}
			
	    	function loadVagas(){
	    		let json = document.getElementById("index:vagas").value; 
	    		let listVagas = JSON.parse(json);
				
	    		for(i = 0; i < listVagas.length; i++){
	    			
	    			let vaga = listVagas[i];

	    			let ic = L.divIcon({
	    			 	className:'current-location-icon',
	    			 	html: vaga.css,
	    			    iconAnchor:[0,0],
	    			    iconSize:null,
	    			    popupAnchor:[0,0]
	    			});
	    			
		        	var newLatLng = new L.LatLng(vaga.latitude, vaga.longitude);
		        	let marker = L.marker(newLatLng, {icon: ic}).addTo(map);
		        	marker.vaga = vaga; 
		        	marker.on('click', function(ev) {
		        		
			        });
			    }
			}
	    //]]>
		</script>
	</ui:define>
</ui:composition>
