<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:adm="http://github.com/adminfaces"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>SmartaParking</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96"/>
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>

        <style type="text/css">
            body .load-bar {
               margin-top: -20px;
            }

            body.login-page {
                background-color: transparent;
            }

            html {
                background: url(#{resource[ 'images:login-bg.jpg' ]}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            body{
            	height: 100vh;
			    background-color: rgba(0, 0, 255, 0.4);
            }
			@media (max-width: 768px) {
				 html {
				     background-image: url(#{resource[ 'images:login-bg-mobile.jpg' ]});
				 }
			}
        </style>
    </h:head>

    <h:body styleClass="hold-transition login-page">
        <div id="loader" class="load-bar" style="display: none">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <p:dialog id="adminStatusDialog" modal="true" widgetVar="statusDialog" draggable="false" closable="false"
                  resizable="false" responsive="true" showHeader="false" appendTo="@(body)">
            <p:graphicImage library="images" name="#{adminConfig.loadingImage}"/>
        </p:dialog>

        <div class="login-box">
            <div class="login-logo">
                <p:link href="index.xhtml" style="color: white;"><b>Smart</b>Parking</p:link>
            </div>
            <!-- /.login-logo -->
            <div class="box login-box-body">
                <h:form>
                    <p:messages id="msg" closable="true" style="width:100%;" globalOnly="true">
                    	<p:autoUpdate/>
                    </p:messages>
                    
                    <div class="form-group has-feedback">
                        <p:inputText id="login" value="#{logonMB.login}" type="email" styleClass="form-control" placeholder="Email"
                                     required="true" requiredMessage="Login é obrigatório"/>
                        <i class="fa fa-envelope form-control-feedback" ></i>
                        <p:message for="login" />
                    </div>
                    <div class="form-group has-feedback">
                        <p:inputText id="senha" value="#{logonMB.password}" type="password" styleClass="form-control"
                                     placeholder="Senha" required="true" requiredMessage="Senha é obrigatório"/>
                        <i class="fa fa-lock form-control-feedback" style="font-size: 18px"></i>
                        <p:message for="senha" />
                    </div>
                    <div class="row">
                        <p:spacer height="10"/>
                        <div class="col-xs-12">
                            <p:commandButton styleClass="btn btn-success btn-block" 
                            	actionListener="#{logonMB.login}" value="Entrar" update="@form"/>
                        </div>
                    </div>
                </h:form>
            </div>
            <!-- /.login-box-body -->
        </div>
        <adm:ripple />
        <h:outputScript library="js" name="admintemplate.js" target="head"/>

    </h:body>
</html>